{% extends 'shop/basic.html' %}

{% block title%}{{product.product_name}}{% endblock %}
{% block body %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <img src='/media/{{product.image}}' width="233px" height="400px">
            </div>
            <div class="row mt-3">
                <button  class="btn btn-primary col mx-3">Add to card</button>
                <button  class="btn btn-primary col ">Buy</button>
            </div>

        </div>
        <div class="col-md-8">
            <h5>{{product.product_name}}</h5>
            <p><b>RS. </b>{{product.product_price}}</p>
            <p>{{product.product_des}}</p>

        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    console.log("working");

    let cart = localStorage.getItem("cart") ? JSON.parse(localStorage.getItem("cart")) : {};

    function updateCartCount() {
        let cartElement = document.getElementById("cart");
        if (cartElement) {
            cartElement.innerHTML = Object.keys(cart).length;
        }
    }

    updateCartCount(); // cart count refresh on page load

    document.querySelectorAll(".cart").forEach(button => {
        button.addEventListener("click", function (event) {
            event.preventDefault();
            let id = this.id.replace("pr", ""); // Extract product ID

            let nameElement = document.getElementById("namepr" + id);
            if (!nameElement) {
                console.error("Error: Product name element not found for ID:", id);
                return;
            }

            let name = nameElement.innerText;
            let imgElement = this.closest(".card").querySelector("img");
            let imgSrc = imgElement ? imgElement.src : "";

            if (!(id in cart)) {
                cart[id] = {
                    name: name,
                    img: imgSrc,
                    qty: 1
                };
                localStorage.setItem("cart", JSON.stringify(cart));
                updateCartCount();
                alert(`${name} added to cart!`);
            } else {
                alert("This product is already in the cart!");
            }
        });
    });
});
</script>
{% endblock %}